---
import { getCollection } from "astro:content";
import Hgroup from "../components/Hgroup.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
import ListItem from "../components/ListItem.astro";
import Button from '../components/Button.astro';
import ImageParallax from '../components/ImageParallax.astro';
import Gallery from "../components/Gallery.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");

// Define a list of items to display
const list = [
	{ text: "UX/UI Design" },
	{ text: "Product Design" },
	{ text: "Web Development" },
	{ text: "Prototyping" },
	{ text: "Web Accessibility" },
	{ text: "Art Direction" },
];
---

<Layout
	title="Antonio Almeida's Portfolio | Digital Design Expertise with 15 Years in Creative Agencies",
	
	description="Explore the digital portfolio of Antonio Almeida, a designer with a Bachelor's from Billy Blue College, featuring projects for Aristocrat, OzHarvest and WICKED.",
	
	ogImage="/images/work-oz-harvest-og.jpg"
>
	<Main>
		
		<Hgroup sectionId="experience">			
			
			<p slot="section">Experience</p>
			
			<h1 class="h2" slot="body">Nearly 15 years in digital and creative agencies, designing for wide variety of projects and brands</h1>			
			
			<ListItem slot="body" items={list} />
				
			<div slot="body" >
				<Button href="https://www.linkedin.com/in/antonioal/" text="LinkedIn Profile" icon="arrow-right-45" target="_blank" />
			</div>

		</Hgroup>
		
		
		<div class="group" id="work">
			
			<h2 class="wrapper h3" slot="section">Latest Work</h2>				
		
			<PostList posts={posts}/>

		</div>
    
		
		<ImageParallax imageUrl="/images/work-oz-harvest-parallax.jpg" /> 

		
		<Hgroup sectionId="about">			
			
			<p slot="section">About Antonio</p>
			
			<h2 slot="body">Design, Strategy & Balance</h2>						
			
			<p slot="body">Antonio is a UX/UI designer with nearly 15 years of experience in web design, product design, and coding. He has worked with top clients like Aristocrat Leisure, OzHarvest, the Australian Youth Orchestra, and WICKED the Musical.</p>
			
			<p slot="body">A member of the Interaction Design Foundation, Antonio stays ahead in design trends while bringing a sharp eye for detail and problem-solving to every project.</p>			
			 
			<p slot="body">Outside work, he enjoys life in Australia with his wife and young son—surfing, sipping great flat whites, and making the most of the coastal lifestyle.</p>			
			
			<div slot="body">
				<Button href="https://www.linkedin.com/in/antonioal/" text="LinkedIn Profile" icon="arrow-right-45" target="_blank" />
			</div>

		</Hgroup>

		
		<Gallery />
		
	
	</Main>   


</Layout>

<style lang="scss">
	.group h2{
		margin-bottom: var(--space-md);
	}
</style>