---
import Button from '../components/Button.astro';

const base = import.meta.env.BASE_URL.endsWith('/')
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;

const footerBg = `${base}images/footer-bg.jpg`;
---

<footer style={`background-image: url('${footerBg}')`}>
    <div class="wrapper">
        <h2>Say Hello 👋</h2>
        <p>Get in touch to start the journey together.</p>
        <div class="button-wrapper">
            <Button href="/contact" text="Get in Touch" icon="" />
            <Button href="https://www.linkedin.com/in/antonioal/" text="LinkedIn Profile" icon="arrow-right-45" target="_blank" />
        </div>	
    </div>
</footer> 

<style lang="scss">
    footer{
        color: #ffffff;                     
        background-repeat: no-repeat; 
		background-size: cover; 
        margin-top: var(--space-lg);
        padding: var(--space-lg) 0;

        h2{
            margin-bottom: var(--space-xsm);
        }
    }
</style> 