---
import Button from '../components/Button.astro';
---

<footer>
    <div class="wrapper">
        <h2>Say Hello 👋</h2>
        <p>Get in touch to start the journey together.</p>
        <div class="button-wrapper">
            <Button href="/contact" text="Get in Touch" icon="" />
            <Button href="https://www.linkedin.com/in/antonioal/" text="LinkedIn Profile" icon="arrow-right-45" target="_blank" />
        </div>	
    </div>
</footer> 

<style lang="scss">
    footer{
        color: #ffffff;             
        background-image: url('${import.meta.env.BASE_URL}/images/footer-bg.jpg'); 
        background-repeat: no-repeat; 
		background-size: cover; 
        margin-top: var(--space-lg);
        padding: var(--space-lg) 0;

        h2{
            margin-bottom: var(--space-xsm);
        }
    }
</style> 