---
interface Props {
  imageUrl: string;
}

const { imageUrl } = Astro.props;
---

<div class="parallax" style={{ '--image-url': `url(${imageUrl})` }}></div>

<style lang="scss">
  .parallax {    
    height: 55vh; /* Default height */
    background-image: var(--image-url);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: top center;

    @media (min-width: 992px) {
      background-attachment: fixed;
      height: 98vh; /* Height for larger screens */
    }
  }
</style>
