---
interface ListItem {
  text: string; // The text of the list item
  url?: string; // Optional URL for the list item
  newTab?: boolean; // Whether to open the link in a new tab
}

interface Props {
  items: ListItem[]; // An array of ListItem objects
}

const { items = [] } = Astro.props;
---

<ul>
  {items?.map((item) => (
    <li>
      {item.url ? (
        <a href={item.url} target={item.newTab ? "_blank" : undefined} rel={item.newTab ? "noopener noreferrer" : undefined}>
          {item.text}
        </a>
      ) : (
        item.text
      )}
    </li>
  ))}
</ul>

<style lang="scss">
  ul{
    display: grid;
		grid-template-columns: 1fr;		
    list-style: none;    	
    margin: 0;
    padding: 0;
		
		@media (min-width: 992px) {	
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 24px;    	
		}		

    li{
			padding: var(--space-sm) 0;
			border-bottom:1px solid #d9d9d9;
			margin: 0;
		}
  }
</style>