---
import { type CollectionEntry } from "astro:content";
import Post from "./Post.astro";

type Props = {
    posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<div class="wrapper grid">
    {posts.map((post) => <Post post={post} />)}
</div>

<style>
    .grid{
        display: flex;		
        flex-direction: column;
		gap: 2.5rem;
		
		@media (min-width: 992px) {
            flex-direction: row;
			row-gap: 4rem;
		}
    }
</style>